{% extends "assetmanager/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<button onclick="goBack()" class="btn btn-default">Go Back</button>
        <h1> <i class="fa fa-book"></i> Record Asset</h1>
        <a href="{% url 'asset-index' %}" class="btn btn-info pull-right">All Assets</a>
        <br><br>
  
        <div class="panel panel-primary">
            <div class="panel-heading">
               Form
            </div>

            <div class="panel-body">
                    <form action="" method="POST">

                            {% csrf_token %}
            
                            <fieldset class="form-group">
            
                                    
                            </fieldset>
                            {{ form|crispy}}
            
                            <button class="btn btn-default" type="submit">Submit</button>
                            <br>
                          
                    </form>
            </div>
        </div>
       
{% endblock content %}